@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Open+Sans:wght@400;500;600;700&family=Poppins&display=swap');

/* Reset Code */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #333;
}
img{
    width: 100%;
}
/* Banner CSS Code */
.banner-area{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px;
    margin-bottom: 50px;
}
.banner-content{
    width: 50%;
}
.banner-content span{
    color: orange;
}
.banner-content h1 {
    font-size: 45px;
    line-height: 45px;
    color: #333;
    padding-top: 150px;
    margin-bottom: 30px;
}
.banner-content p {
    font-size: 16px;
    margin-bottom: 30px;
}
.btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background-color: #ff7700;
    padding: 10px 20px;
    border-radius: 50px;
}
.banner-imgs{
    width: 50%;
}
.banner-imgs img{
    width: 100%;
}

/* About CSS Code */
.about-area {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px 0px;
    margin-bottom: 50px;
    background-color: #d7fef1;
}
.about-imgs{
    width: 50%;
}
.about-imgs img {
    width: 50%;
    padding-left: 100px;
    margin-bottom: -5px;
}
.about-content {
    width: 45%;
    padding-top: 100px;
}
.about-content h1 {
    font-size: 40px;
    margin-bottom: 45px;
}
.about-content p {
    padding-bottom: 45px;
}
.about-content a{}

/* Blog CSS Code */
.blog-area{
    margin: 100px 0px;
}
.blog-title {
    text-align: center;
}
.blog-title h1 {
    font-size: 35px;
    margin-bottom: 20px;
}
.blog-title p {
    padding: 0 300px;
    margin-bottom: 80px;
}
.blogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 70%;
}
.single-blog {
    width: 350px;
    box-shadow: 1px 2px 18px 5px #c8c8c8;
    border-radius: 20px;
    padding: 10px;
}
.single-blog img{
    width: 100%;
}
.single-blog h2 {
    font-size: 22px;
    padding: 20px;
}
.single-blog p {
    padding: 0 20px;
}

/* Counter CSS Code */
.counter-area{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 2px 18px 5px #c8c8c8;
    border-radius: 20px;
    padding: 30px 0;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.single-counter{}
.single-counter span {
    font-size: 30px;
    font-weight: 800;
}
.single-counter h4 {
    font-weight: 400;
}